/* https://coolors.co/324087-4d8dc9-cccccc-f5f0f2-cf3034 */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
}

.fastproject-bg-blue {
    background-color: #4D8DC9;
}

.fastproject-bg-grey {
    background-color: #CCCCCC;
}

.fastproject-bg-purple {
    background-color: #324087;
}

.fastproject-bg-red {
    background-color: #cf3034;
}

.fastproject-bg-white {
    background-color: #F5F0F2;
}

.fastproject-btn-primary {
    color: #F5F0F2;
    background-color: #324087;
}

.fastproject-btn-primary:hover {
    background-color: #263279;
}
